/*GENERAL STYLES*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:focus,
:active,
button:focus {
  outline: 0;
}

.fa {
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.jumbotron {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 0;
}

.jumbotron h1,
.lead {
  position: relative;
  z-index: 1;

}

.jumbotron h1 {
  color: #fff;
  font-weight: bold;
}

.hero-img {
  background-image: url(./img/back-img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.hero-img::after {
  content: '';
  background-color: rgba(255, 0, 50, .63);
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/*FORM ELEMENTS*/
.custom-file-label::after {
  display: none;
}

.input-wrap {
  position: relative;
}

.input-wrap select {
  text-indent: 15px;
}

.input-wrap input {
  text-indent: 20px;
}

.btn-primary {
  color: rgb(214, 0, 76);
  background-color: #fff;
  border: 2px solid #d6004c;

}

.btn-primary:hover,
.btn-outline-secondary:hover {
  color: rgb(214, 0, 76);
  border: 2px solid #fff;
  background-color: #ffdcdc;
}

.btn-primary:focus,
.btn-primary:active .btn-outline-secondary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(161, 0, 56);
  border: 2px solid #d6004c;
  box-shadow: 0 0 0 0.2rem rgba(214, 0, 76, .18);

}

.btn:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(214, 0, 76, .18);
  outline: none;
}

.btn-outline-secondary,
.modal-header {
  color: #fff;
  background-color: #d6004c;
  border: 2px solid #d6004c;

}

.form-control,
.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control:-moz-placeholder {
  color: rgb(194, 192, 192);
}


.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-position: right calc(.375em + 0.65rem) center;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #ced4da;
  padding-right: calc(1.5em + .75rem);
  background-image: none;
}

.form-control.input:-internal-autofill-selected, input:-internal-autofill-previewed  {
  background-color: #fff!important;
}

.form-control:focus {
  border-color: rgba(214, 0, 76, .25);
  box-shadow: 0 0 0 0.2rem rgba(214, 0, 76, .18);
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #d6004c;
  background-color: #d6004c;
}

input:focus~.custom-control-label::before,
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(214, 0, 76, .18);
}

.invalid-tooltip {
  top: 95%;
  padding: .1rem .2rem;
  margin-top: 0;
  font-size: .7rem;
  color: rgba(226, 2, 2, 0.9);
  background-color: transparent;
}

.custom-radio .invalid-tooltip {
  top: 180%;
  margin-left: -25px;
}

.form-group {
  margin-bottom: 1.3rem;
}

.textarea-group {
  position: relative;
}

.textarea-group .invalid-tooltip {
  top: 99%;
}


/*MODAL STYLES*/
.close {
  color: #fff;
  opacity: 1;
}

.close:hover {
  color: rgba(214, 0, 76, .18);
}